<style>
    .image-zoom {
      z-index: 2;
      border: 2px solid gray;
      display: inline-block;
      position: absolute;
      left: 50%;
      width: 100px;
      height: 100px;
      overflow: hidden;
    }
      .zoomImage {
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
      }

</style>

<div class="zoomImage" 
  moveBackground 
  [backgroundSrc]="src" 
  [xPos]="xPos" 
  [yPos]="yPos">
</div>