<div class="image-wrapper">
    <img 
     (touchstart)="openZoom($event, true)" 
     (touchend)="openZoom($event, false)"
     (touchmove)="positionZoom($event)"
     [src]="srcImage" 
    />
   </div>
   <image-zoom 
    *ngIf="showZoom" 
    [src]="srcImageZoom" 
    [xPos]="xPos" 
    [yPos]="yPos">
   </image-zoom>