<style>

  @media only screen and (min-width: 601px) {
    .adisplay { 
      
      width: 50%;
    height:15vw;
    }
}

</style>


<a href="#" [routerLink] = "['/cart']"><span>
    <i class="fa fa-shopping-bag" style="font-size:18px;color:rgb(97, 35, 35)"></i>
    {{cartCount}}
</span>
</a>

