<style>
    /*@media screen and (max-width: 400px) {
        span {
            background-color: red;
            color: white;
        }

    }*/
    @media screen and (max-width: 300px) {
                img {
                    height:30vw;
                    width:20vw
                }
    }
    @media screen and (min-width: 301px) {
                img {
                    height:20vw;
                    width:14vw
                }
    }  
    @media screen and (min-width: 700px) {
                img {
                    height:5vw;
                    width:3vw
                }
    }  
    
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8">
    
            <div class="row">
                <div class="col-md-2">item</div>
                <div class="col-md-3">description</div>
                <div class="col-md-2">price</div>
                <div class="col-md-2">Quantity</div>
                <div class="col-md-2">Total</div>
            </div>
        </div>
       
        <div class="col-md-4">Address</div>
    </div>
    <hr>
    <div class="row">
        
        <div class="col-md-8">
    
            <div class="row" *ngFor="let item of carts ; let idx = index;trackBy: trackByFn">
                <hr>
                <div class="col-md-2 col-sm-6 col-4">
                    <img   src="{{item.imageLocation}}" height="75%" width="49%">
                </div>
                <div class="col-md-3 col-sm-6 col-7">
                    <div class="row"> {{item.itemName}}</div>
                    <div class="row"> 
                        <span><i class="fa fa-trash-o" style="font-size:18px;"></i></span>
                    </div>
                   
                </div>
                <div class="col-md-1 col-sm-2 col-1">&#8377;{{item.itemPrice}}</div>
                <div class="col-md-3 col-sm-2 col-6">
                        <input class="form-control" type="number" id="itemnum_{{idx}}" value={{item.itemQuantity}} (change)="valueChange($event,item)" min="1" style="width: 100%;">
                  
                </div>
                   
                <div class="col-md-3 col-sm-2 col-6">&#8377;{{(item.itemPrice) * (item.itemQuantity)}}</div>
                <div class="col-md-12 col-sm-12 col-12"><hr></div>
                
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-3" style="text-align: right;">Sub-Total</div>
                <div class="col-md-3" >&#8377;{{totalAmount}}</div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>


</div>
