<style>
@media only screen and (min-width: 601px) {
    #bagId { 
      
     display: none;
    }
    #bagIdLarge{
        display: inline;
    }
}
@media only screen and (max-width: 600px) {
    
    #bagIdLarge{
        display: none;
    }
}

</style>


<div class="row" style="background-color: #b5b698;">
    <div class="col-md-5 col-0"></div>
    <div class="col-md-4 col-7">
        Pack YOUR BAG
    </div>
    <div class="col-md-3 col-5">
       <a data-toggle="modal" data-target="#signModal" style="color:#483449 !important;cursor: pointer;"><span>Login<i class="fa fa-user-circle" aria-hidden="true"></i></span></a>

    </div>
</div>

<div class="row">
  <!-- <div id="bagId" class="col-md-2 col-sm-4 col-1">
      <cart-shown></cart-shown>
  </div>    -->
    <div class="col-md-2 col-sm-hide col-hide">
    </div> 
  <div class="col-md-8 col-sm-9 col-12">

      <nav class="navbar navbar-expand-sm navbar-light bg-faded" style="padding-left: 0px;padding-right: 0px;">
          <!-- aria-controls="nav-content" aria-expanded="true" aria-label="Toggle navigation" 
          <img class="img-fluid" src="assets/images/logo.JPG" alt="team">
          -->
        <cart-shown id="bagId"></cart-shown>
      <a class="navbar-brand" href="#">PACK YOUR BAG</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
       </button> 
      <div class="collapse navbar-collapse " id="nav-content">   
      
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link dropdown-item waves-light" [routerLink] = "['/Product1']">Link1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dropdown-item waves-light" [routerLink] = "['/Product2']">PRODUCT2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link dropdown-item waves-light" [routerLink] = "['/Product3']">PRODUCT3</a>
                </li> 
                <li class="nav-item">
                        <!-- <div id="bagIdLarge" class="navbar-brand">
                                <cart-shown></cart-shown>
                        </div> -->
                        <a class="nav-link dropdown-item waves-light" >Contact Us</a>
                </li>     
          </ul>
        </div>
      </nav>
  </div>  
 
    <div id="bagIdLarge" class="col-md-2 col-sm-3">
        <cart-shown></cart-shown>
    </div> 
      
          <!-- The Modal -->
    <div class="modal" id="signModal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h6 class="modal-title">Provide your Information</h6>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                    
                   <div *ngIf="loginSpinner" style="top: 50px;position:  absolute;margin-left:  50%;z-index: 1;">
                        <!-- <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i> -->
                        <i class="fa fa-refresh fa-spin" style="font-size:24px"></i> 
                    </div>
                  <form>
                      <div class="row">
                            <div class="col-md-6">Name</div>
                            <div class="col-md-6"><input type="text"></div>
                      </div>
                      <div class="row">
                            <div class="col-md-6">Email</div>
                            <div class="col-md-6"><input type="text"></div>
                      </div>
                      <div class="row">
                            <div class="col-md-6">Password</div>
                            <div class="col-md-6"><input type="text"></div>
                      </div>
                      <div class="row">
                            <div class="col-md-6">Mobile</div>
                            <div class="col-md-6"><input type="text"></div>
                      </div>
                      
                  </form>
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="signup(12)">Save</button>&nbsp;
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
    </div>
</div>




<router-outlet></router-outlet>