<style>

    .wrapper {
     width: 50%;
  }
  /*
  @media screen and (max-width: 576px)
  {
      img {
       
        max-width: 100px;
    }
  }*/
  
  .col-container {
      display: table;
      width: 100%;
  }
  .col1 {
      display: table-cell;
      padding: 16px;
  }
  
  @media only screen and (max-width: 600px) {
      .col1 { 
          display: block;
          width: 100%;
      }
  }
  @media only screen and (min-width: 601px) {
      .col1 { 
        
        width: 50%;
      height:15vw;
      }
  }
  
  .rowCustom {
      display: -ms-flexbox; /* IE10 */
      display: flex;
      -ms-flex-wrap: wrap; /* IE10 */
      flex-wrap: wrap;
      padding: 0 4px;
  }
  .flexbox-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: center;
  height: 10%;
}

.filled-with-image {
  
  background-image: url(http://unsplash.it/1500/1000?image=875);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center bottom;
}
@media only screen and (max-width: 600px) {
.filled-with-image {
     
         
      width: 50%;
      height:15vw;
      }
  }
  </style>
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
      Open modal
    </button>
    
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
            Modal body..
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>
    <input  type="text" [value]="hello" (input)="hello = $event.target.value">
   changing value :: {{hello}}
   <div>
  
    Number: <input type="number" id="myNumber" [value]="numItemSelected" (change)="valueChange($event)" min="1">
    updatedValue :: {{updatedValue}}
    <!-- <input type="number" [(ngModel)]="numberOfItem" (change)="onChange($event)" > -->
   </div>
   <div style="
        height: 10%;
        width: 14%;
        border: 1px solid #817373;">
    <img src="assets/images/1.jpeg" width="67%">
  </div>
  <div class="rowCustom">
  
    <div class="col-container">
  
          <div class="col1"  style="background:yellow">
            <img src="assets/images/1.jpeg" >
            <div>hellosssssssssssss sssssss
              sssss</div>
          </div>
          <div class="col1" style="background:green">
            <img src="assets/images/7.jpeg" >
            <div>hellosssssssssssss sssssss
              sssss</div>
          </div>
          <div class="col1" style="background:blue">
            <img src="assets/images/1.jpeg" >
            <div>hellosssssssssssss sssssss
            sssss</div>
          </div>
          <div class="col1" style="background:red">
            <img src="assets/images/7.jpeg" >
          </div>
  
  
  
      <!-- <div style="
          height: 10%;
          width: 40%;
          border: 1px solid #817373;">
          <img src="assets/images/1.jpeg" width="67%">
    </div>
    <div style="
          height: 10%;
          width: 40%;
          border: 1px solid #817373;">
          <img src="assets/images/1.jpeg" width="67%">
    </div>
    <div style="
          height: 10%;
          width: 40%;
          border: 1px solid #817373;">
          <img src="assets/images/1.jpeg" width="67%">
    </div> -->
  </div>
  </div>


  <div class="flexbox-container">
    <div class="filled-with-image"></div>
  </div>