<style>
        ul.gallery{    
margin-left: 3vw;     
margin-right:3vw;  
}    

.zoom {      
-webkit-transition: all 0.35s ease-in-out;    
-moz-transition: all 0.35s ease-in-out;    
transition: all 0.35s ease-in-out;     
cursor: -webkit-zoom-in;      
cursor: -moz-zoom-in;      
cursor: zoom-in;  
}     

.zoom:hover,  
.zoom:active,   
.zoom:focus {
/**adjust scale to desired size, 
add browser prefixes**/
-ms-transform: scale(1.5);    
-moz-transform: scale(1.5);  
-webkit-transform: scale(1.5);  
-o-transform: scale(1.5);  
transform: scale(1.5);    
position:relative;      
z-index:100;  
}

/**To keep upscaled images visible on mobile, 
increase left & right margins a bit**/  
@media only screen and (max-width: 768px) {   
        ul.gallery {      
        margin-left: 15vw;       
        margin-right: 15vw;
        }
}

 @media screen and (max-width: 400px) {
        imgBalance {
                        height:15vw;
                         width:9vw;
                }
    }
    @media screen and (max-width: 300px) {
                img {
                    height:30vw;
                    width:20vw
                }
    }
    @media screen and (min-width: 301px) {
                img {
                    height:20vw;
                    width:14vw
                }
    }  
    @media screen and (min-width: 700px) {
                img {
                
                height:15vw;
                    width:10vw
                }
    }  

/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
.DivName {cursor: pointer}

</style>
<!-- <main></main>
<app-foo></app-foo> 
-->


<div class="container">

        <div class="row">

                <div class="col-md-2 col-sm-12">
                         <!-- <button type="button" class="btn btn-primary" [routerLink] = "['/Product3']">GO to Prod3</button> -->
                         <!-- <button type="button" class="btn btn-primary" (click)="func()">GO to Prod3</button>
                         <div>
                                 <b> {{ctMsg}}</b>{{ctMsg}} <i class="fa fa-check"></i>
                                 <fa name="cog" animation="spin"></fa> 
                                 to be delete <i class="fa fa-trash" aria-hidden="true"></i>
                                 <br>
                                 <i class="fa fa-trash-o" style="font-size:48px;color:red"></i>
                         
                                 <p>Spinning:</p>
                         <i class="fa fa-refresh fa-spin" style="font-size:24px"></i> 
                         </div>
                         -->
                </div> 
                <div class="col-md-10 col-sm-12">
                         <div class="row" >
                                 <div class="col-md-3 col-sm-6 col-6 border" *ngFor="let item of itemList ; let idx = index" style="height:1%;">
                                        <!-- <div class="row">
                                                 <div class="col-md-12" >
                                                         <a href="/SelectedProduct" > <img   src="{{item.imageLocation}}" class="mx-auto d-block" height="75%" width="65%"></a>
                                         
                                                 </div>
                                                 <div class="col-md-12">
                                                         <a href="/SelectedProduct" > NAME:{{item.itemName}} </a>:: price::{{item.itemPrice}}
                                                 </div>
                                                
                                 
                                          </div> -->
                                          <!-- href="/SelectedProduct?itemId={{item.itemId}}" -->
                                                 
                                                 <!-- <a [routerLink] = "['/SelectedProduct/101']" class="row"> <img   src="{{item.imageLocation}}" class="mx-auto d-block img-fluid" ></a> -->
                                                 <div><img src="{{item.imageLocation}}" class="mx-auto img-responsive" style="width:54%;cursor:pointer" (click)="selectedItemProc($event,item)"></div>
                                               
                                                 <!-- <img src="{{item.imageLocation}}" class="mx-auto" style="max-width: 100%;
                                                 height: 1%;cursor:pointer" (click)="selectedItemProc($event,item)"> -->
                                                <div> <a  [routerLink] = "['/SelectedProduct/102']"> NAME:{{item.itemName}} </a>:: price::{{item.itemPrice}}</div>
                                                 
                                               
                                        
                                 </div>
                                
                         </div>
                 </div>
         </div>
               
</div>



