<!-- 
<div class="row">
    <div class="col-md-1">
        <div class="row " *ngFor="let selectItemImage of selectedProduct.pics">
               <div class="col-md-12 col-sm-6 border">
                   
                        tobe comment  (mousemove)="mouseMove($event)" 
                        to be comment <button type="button" class="btn btn-light" item-height="100px" item-width="100px"><img   src="{{selectItem}}"></button> 
                    <a><img  src="{{selectItemImage}}" (mousedown)="mouseDown($event)" height="100%" width="100%"></a>
               </div>
                
        </div>
    </div>
    <div class="col-md-4">
        <div *ngIf="selectedImagePick" class="pull-left">
                to be comment [imageZoom]="selectedImage" [delay]="10 
            <img   [src]="selectedImagePick" height="100%" width="80%"> 
        </div>
    </div>
    
    <div class="col-md-5">
        This os good product with sd
        sadkadkmadd sjdsfsn 
        ssnfsfs <br>
        ssjsjfsjfjsfsjfsf
        sjfjsf ssh smnsfsddfhsfh ssddhfs f<br>
    </div>
    <div class="col-md-1">
       <button class="btn btn-warning" (click)="addCart()" > <i class="fa fa-shopping-cart" style="font-size:28px;color:rgb(97, 35, 35)"></i>Add TO CART{{cartCount}}</button>
    </div>
</div> -->
<div class="container">
        <div class="row">
                <div class="col-md-1">
                    <div class="row " >
                           <div class="col-md-12 col-sm-6 border">
                               
                                    <!-- tobe comment  (mousemove)="mouseMove($event)" 
                                    to be comment <button type="button" class="btn btn-light" item-height="100px" item-width="100px"><img   src="{{selectItem}}"></button>  -->
                                <a><img  src="{{selectedItem.imageLocation}}" (mousedown)="mouseDown($event)" height="100%" width="100%"></a>
                           </div>
                            
                    </div>
                </div>
                <div class="col-md-4">
                    <div *ngIf="selectedImagePick" class="pull-left">
                            <!-- to be comment [imageZoom]="selectedImage" [delay]="10  -->
                        <img   [src]="selectedImagePick" height="100%" width="80%" (mousemove)="mouseMove($event)" (mouseout)="onMouseOut()"> 
                    </div>
                </div>
                
            
                <div class="col-md-5">
                    {{selectedItem.itemName}}<br>
                    <div class="blog-post" *ngIf="testhtml" [innerHtml]="testhtml | noSanitize"></div>
                </div>
                <div class="col-md-1">
                   <button class="btn btn-warning" (click)="addCart()" > <i class="fa fa-shopping-cart" style="font-size:28px;color:rgb(97, 35, 35)"></i>Add TO CART{{cartCount}}</button>
                </div>
            </div>
</div>
